# Python Tupples

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [7]:
thistuple.index("apple")

0

In [9]:
for i in thistuple:
    print(i)

apple
banana
cherry

In [10]:
len(thistuple)

3

In [18]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [1]:
a= (1,2,3,4,5)

In [2]:
type(a)

tuple

In [3]:
a= tuple(('1,2,3,4'))

In [4]:
type(a)

tuple

In [5]:
a= tuple([1,2,3,4])

In [6]:
type(a)

tuple

In [7]:
a

(1, 2, 3, 4)

In [16]:
a = (2,) #to define single tuple

In [9]:
type(a)

tuple

In [17]:
a = (1)

In [18]:
type(a)

int

In [19]:
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [20]:
a.index(7, a.index(7)+1)

4

In [21]:
a[len(a)-1] # find the last index value in tuple

5

In [22]:
a

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [23]:
a[-1]+= (2)

TypeError: 'tuple' object does not support item assignment

In [24]:
a

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

# Advance Tuple

In [34]:
import collections

In [35]:
from collections import namedtuple

In [36]:
student = namedtuple('student',['name', 'address'])

In [37]:
anuj = student('Anuj','Kathmandu')

In [38]:
d

'Anuj'

In [39]:
shekhar = student('Shekhar','Balaju')

In [40]:
students = [anuj, shekhar]

In [44]:
print("Name", "\t", "Address")
for i in students:
    print(i.name, "\t", i.address)

Name 	 Address
Anuj 	 Kathmandu
Shekhar 	 Balaju

# Indexing , Slicing and Steping/Striding

In [45]:
a = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [46]:
a[-1]

5

In [48]:
a[3:9]

(8, 7, 5, 4, 6, 8)

In [49]:
a[::]

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [56]:
a[::-1]

(5, 8, 6, 4, 5, 7, 8, 7, 3, 1)

In [57]:
a[::1]

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [58]:
a[::2]

(1, 7, 7, 4, 8)

In [59]:
a[::3]

(1, 8, 4, 5)

In [60]:
a[2:]

(7, 8, 7, 5, 4, 6, 8, 5)

a

In [61]:
a

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [62]:
5 in a

True

In [63]:
10 in a

False

In [68]:
x = '3'
type(x)==str

True

In [69]:
isinstance(x, str)

True

In [1]:
a = (2,3)

In [2]:
x, y =a

In [3]:
x

2

In [4]:
y

3