# Define Variable

In [1]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [4]:
a.append(10)

In [5]:
a

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 10]

In [6]:
print(a)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 10]

In [7]:
print(len(a))

12

In [8]:
for b in a:
    print(b)

1
1
2
3
5
8
13
21
34
55
89
10

In [9]:
a[2]=4

In [10]:
a

[1, 1, 4, 3, 5, 8, 13, 21, 34, 55, 89, 10]

In [11]:
a.insert(2,7)

In [12]:
a

[1, 1, 7, 4, 3, 5, 8, 13, 21, 34, 55, 89, 10]

In [13]:
a.remove(1)

In [14]:
a

[1, 7, 4, 3, 5, 8, 13, 21, 34, 55, 89, 10]

In [15]:
a.pop()

10

In [16]:
a

[1, 7, 4, 3, 5, 8, 13, 21, 34, 55, 89]

In [17]:
del a[5]

In [18]:
a

[1, 7, 4, 3, 5, 13, 21, 34, 55, 89]

In [20]:
a.clear()

In [21]:
a

[]

In [22]:
b =[1, 7, 4, 3, 5, 13, 21, 34, 55, 89]

In [23]:
a =b.copy()

In [24]:
a

[1, 7, 4, 3, 5, 13, 21, 34, 55, 89]

In [26]:
a.count(5)

1

In [27]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [28]:
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [29]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

In [30]:
x

2

In [31]:
fruits.reverse()

In [32]:
fruits

['cherry', 'banana', 'apple']

In [33]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

In [34]:
cars

['BMW', 'Ford', 'Volvo']